#btn{
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    
}
button{
    height: 50px;
    width: 150px;

}
.btnone{ 
    border-radius: 1px;
    border: 2px solid rgb(169, 125, 11);
    padding: 8px 20px;
    background-color:rgb(218, 165, 32);
    color: white;
    font-weight: 550;
    font-size: large;
}
.btntwo{
    border-radius: 1px;
    border: 2px solid black;
    padding: 8px 20px;
    background-color: rgba(0, 0, 0, 0.856) ;
    color: white;
    font-weight: 550;
    font-size: large;
}




li{
    text-decoration: none;
    list-style: none;
    
}



img{
    height: 8%;
    width: 80%;
}



#left{
    background-color: rgb(231, 208, 131);
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    padding-left: 40px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
}



#list{
    display: flex;
    height: 30%;
    width: 80%;
    flex-direction: column;
   
    justify-content: space-around;
}

.cart{
    display: flex;
    height: 40%;
    padding-top: 10px;
    
}